<div class="row">

    <div class="col-md-1">
        <label  ng-click='personTable.toggleOrder("firstName")'>First Name</label>
    </div>

    <div class="col-md-1">
        <label  ng-click='personTable.toggleOrder("lastName")'>Last Name</label>
    </div>

    <div class="col-md-1">
        <label  ng-click='personTable.toggleOrder("address")'>Address</label>
    </div>
    <div class="col-md-1">
        <label for="stateSelect" ng-click='personTable.toggleOrder("state")'>State</label>
    </div>

    <div class="col-md-1">
        <label  ng-click='personTable.toggleOrder("gender")'>Gender</label>
    </div>
    
    <div class="col-md-1">
        <label  ng-click='personTable.toggleOrder("dob")'>Date of Birth</label>
    </div>

    <div class="col-md-1">
        <label  ng-click='personTable.toggleOrder("phoneNumber")'>Phone Number</label>
    </div>

</div>
<input type="text" ng-model="search" placeholder="search">
<div class="row" ng-repeat="person in personArray|filter:search|orderBy:personTable.sortBy:personTable.sortOrder">

    <div class="col-md-1">
        {{person.firstName}}
    </div>

    <div class="col-md-1">
        {{person.lastName}}
    </div>

    <div class="col-md-1">
        {{person.address}}
    </div>

    <div class="col-md-1">
        {{person.state}}
    </div>

    <div class="col-md-1">
        {{person.gender}}
    </div>

    <div class="col-md-1">
        {{person.dob | date : "MM-dd-yyyy"}}
    </div>

    <div class="col-md-1">
        {{person.phoneNumber}}
    </div>

</div>

<!--<ol>
    <li ng-repeat="person in personArray">{{person.lastName}},{{person.firstName}}</li>
</ol>-->